doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
    link(rel="stylesheet", type="text/css", href="bower_components/angular-material/angular-material.min.css")
  body.flexbox(ng-app="Application")
    md-content.background(ng-controller="Controller")
      md-card.box-edge
        md-card-content
            md-tabs(md-dynamic-height md-border-bottom)
              md-tab(label="form")
                md-content(class="md-padding")
                  h1 Hello!
                  md-button.md-raised.md-primary(ng-click="modal();") Open Modal

  script(type="text/javascript", src="./bower_components/lodash/dist/lodash.min.js")
  script(type="text/javascript", src="./bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript", src="./bower_components/angular/angular.min.js")
  script(type="text/javascript", src="./bower_components/angular-animate/angular-animate.min.js")
  script(type="text/javascript", src="./bower_components/angular-messages/angular-messages.min.js")
  script(type="text/javascript", src="./bower_components/angular-aria/angular-aria.min.js")
  script(type="text/javascript", src="./bower_components/angular-resource/angular-resource.min.js")
  script(type="text/javascript", src="./bower_components/angular-material/angular-material.min.js")
  script(type="text/javascript", src="./bower_components/angular-material-icons/angular-material-icons.min.js")
  script(type="text/javascript", src="./javascripts/index.js")
